/* SHARED STYLES */
:root {
    /* Font Families */
    --font-body: "Roboto", sans-serif;
    --font-header: "Righteous", sans-serif;
    /* Site Colors */
    --primary-color: #2A52BE;
    --background-color: #ffff;
    --highlight-color: #F1A300;
    --highligh-two-color: #D3D3D3;
    --notice-color: #810404;
    --font-color: #222127;
    --primary-dark-color: #121212;
    --font-dark-color: #ffffff;
    --dark-accent-one: #4f1536;
    --dark-accent-two: #DAA520;
    --dark-box-shadow: #444346;
    /* Font Sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--font-color);
}

/* DARKMODE STYLE */
.darkmode {
    color: var(--font-dark-color);
}

.darkmode header,
.darkmode nav,
.darkmode main,
.darkmode footer {
    background-color: var(--primary-dark-color);
}

.darkmode header img {
    border: 1px solid var(--font-dark-color);
}

.darkmode header button img {
    border: 0;
}

.darkmode #hamburger {
    color: var(--font-dark-color);
}


.darkmode nav {
    border-bottom: 1px solid var(--font-dark-color);
}

.darkmode nav a {
    background-color: var(--primary-dark-color);
    color: var(--font-dark-color);
    border: 1px solid var(--font-dark-color);
}

.darkmode nav a:hover {
    background-color: var(--font-dark-color);
    color: var(--primary-dark-color);
}

.darkmode footer {
    border-top: 1px solid var(--font-dark-color);
}

.darkmode .image-slider img.activeImage {
    border: 1px solid var(--highligh-two-color);
}

.darkmode .image-slider img.activeImage:hover {
    box-shadow: 10px 10px 10px var(--dark-box-shadow);
}

.darkmode .homeContent div {
    border: 1px solid var(--font-dark-color);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px var(--dark-box-shadow);
}

.darkmode .homeContent div a {
    color: var(--dark-accent-two);
}

.darkmode .homeContent div a:hover {
    color: var(--font-dark-color);
    text-decoration: underline;
}

.darkmode #latandlon-container form {
    background-color: var(--primary-dark-color);
    border: 1px solid var(--font-dark-color);
}

.darkmode #latandlon-container button {
    color: var(--font-dark-color);
    background-color: var(--primary-dark-color);
    border: 1px solid var(--font-dark-color);
}

.darkmode #latandlon-container button:hover {
    background-color: var(--font-dark-color);
    color: var(--primary-dark-color);
}

.darkmode .weatherCard,
.darkmode .solarWeatherCard {
    border: 1px solid var(--font-dark-color);
    background-color: var(--primary-dark-color);
    box-shadow: 10px 10px 10px var(--dark-box-shadow);
}

.darkmode .weatherCard img {
    border: 1px solid var(--font-dark-color);
}

.darkmode p.notice {
    color: var(--dark-accent-two);
    font-weight: 700;
}

.darkmode .loading {
    border: 1px solid var(--font-dark-color);
    background-color: var(--primary-dark-color);
    color: var(--font-dark-color);
}

.darkmode .alert {
    background-color: var(--primary-dark-color);
    color: var(--font-dark-color);
    border: 1px solid var(--font-dark-color);
}

/* END OF DARKMODE STYLE */

h1,
h2,
h3 {
    font-family: var(--font-header);
}

img {
    width: 100%;
}

.alert {
    display: flex;
    background-color: var(--highlight-color);
    color: var(--font-color);
    align-items: center;
    text-align: center;
    justify-content: space-around;
    justify-self: center;
    width: 100%;
    max-width: 900px;
    border: 1px solid var(--font-color);
    margin: 10px;
}

.alert span {
    font-size: var(--large-font);
    padding: 1.2rem;
    cursor: pointer;
}

p.notice {
    color: var(--notice-color);
}

/* LOADING SCREEN */
.loading:not([open]) {
    display: none;
}

.loading {
    width: 90%;
    height: 50%;
    align-self: center;
    justify-self: center;
    border: 1px solid var(--font-color);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loading p {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: var(--font-header);
}

.loading .loadingIcon {
    animation: 0.8s linear infinite loadingSpinner;
}

/* HEADER STYLE */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
}

header img {
    max-width: 200px;
    height: auto;
    border: 1px solid var(--font-color);
}

header div {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

header button {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

header button img {
    border: 0;
}

#hamburger {
    font-size: 2rem;
    text-align: center;
    color: var(--font-color);
}

#hamburger::before {
    content: "\2630";
}

#hamburger.open::before {
    content: "X";
}

/* NAV STYLE */
nav {
    display: none;
    border-bottom: 1px solid var(--font-color);
    background-color: var(--primary-color);
    padding: 10px;
}

nav.open {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
}

nav li {
    padding: 1rem;
}

nav a {
    display: block;
    font-family: var(--font-header);
    color: var(--font-color);
    text-decoration: none;
    padding: 1rem;
    background-color: var(--highlight-color);
    border: 1px solid var(--font-color);
    cursor: pointer;
    font-size: var(--large-font);
}

nav a.currentPage {
    text-decoration: underline;
}

nav a:hover {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* MAIN STYLE */
main {
    padding: 15px;
}

main h1 {
    text-align: center;
    margin: 1rem 0;
}

.image-slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-self: center;
    max-width: 600px;
}

.image-slider img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    max-width: 600px;
    z-index: 0;
    opacity: 0;
}

.image-slider img.activeImage {
    z-index: 1;
    border: 1px solid var(--font-color);
    animation: 0.4s ease-in 0.2s forwards fadeIn;
}

.image-slider img.activeImage:hover {
    box-shadow: 10px 10px 10px var(--font-color);
    cursor: pointer;
}

.image-slider img.slide-away {
    z-index: 2;
    animation: 0.6s ease-out forwards slideOut;
}

.homeContent {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.homeContent div {
    border: 1px solid var(--font-color);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px var(--font-color);
}

.homeContent div h2 {
    margin: 15px 0 5px 4px;
}

.homeContent div p {
    margin: 10px 8px;
}

.homeContent div a {
    display: block;
    margin: 10px 8px;
    text-decoration: none;
}

.homeContent div a:hover {
    text-decoration: underline;
}

#areaNameContainer {
    text-align: center;
    margin: 15px 0;
}

.weatherContainer,
.solarWeatherContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 20px;
    margin: 20px 0;
}

.forecastContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 15px;
}

.forecastShow {
    padding: 0.8rem;
    align-self: center;
    max-width: 150px;
    width: auto;
    font-family: var(--font-header);
    font-size: var(--large-font);
    color: var(--font-color);
    background-color: var(--highlight-color);
    border: 1px solid var(--font-color);
    border-radius: 1rem;
    cursor: pointer;
}

.forecastShow:hover {
    background-color: var(--background-color);
}

.weatherCard,
.solarWeatherCard {
    align-self: center;
    padding: 15px;
    border: 1px solid var(--font-color);
    border-radius: 0.5rem;
    background-color: var(--background-color);
    box-shadow: 10px 10px 10px var(--font-color);
}

.weatherCard h2 {
    text-align: center;
    margin: 10px 0;
}

.weatherCard img {
    display: block;
    justify-self: center;
    margin-bottom: 15px;
    border: 1px solid var(--font-color);
}

.weatherCard p,
.solarWeatherCard p {
    margin: 5px 0;
}

.solarWeatherCard p {
    padding-left: 5px;
}

.weatherCard p.bold {
    margin: 15px 0 5px 0;
    font-weight: 700;
}

.weatherContainer .weatherCard img {
    max-width: 800px;
    height: auto;
}

.forecastContainer .weatherCard {
    max-width: 200px;
    height: 600px;
}

.forecastContainer .weatherCard:nth-child(1) {
    animation: 0.4s ease-in 0.2s forwards slideIn;
    z-index: 0;
}

.forecastContainer .weatherCard:nth-child(2) {
    animation: 0.8s ease-in 0.2s forwards slideIn;
    z-index: 1;
}

.forecastContainer .weatherCard:nth-child(3) {
    animation: 1.2s ease-in 0.2s forwards slideIn;
    z-index: 2;
}

.forecastContainer .weatherCard:nth-child(4) {
    animation: 1.6s ease-in 0.2s forwards slideIn;
    z-index: 3;
}

.forecastContainer .weatherCard img {
    max-width: 100px;
    height: auto;
}

/* Form Style */
#latandlon-container {
    justify-self: center;
}

#latandlon-container form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    background-color: var(--highligh-two-color);
    border: 1px solid var(--font-color);
    border-radius: 1rem;
}

#latandlon-container label {
    font-family: var(--font-header);
}

#latandlon-container input {
    padding: 0.3rem;
    font-family: var(--font-body);
    width: 100%;
}

#latandlon-container button {
    background-color: var(--highlight-color);
    color: var(--font-color);
    cursor: pointer;
    border: 1px solid var(--font-color);
    border-radius: 1rem;
}

#latandlon-container button:hover {
    background-color: var(--background-color);
}

#latandlon-container button {
    padding: 0.8rem 1.5rem;
    text-align: center;
}

/* FOOTER STYLE */
footer {
    border-top: 1px solid var(--font-color);
    padding: 10px;
}

footer div {
    margin-top: 10px;
}

footer h3 {
    margin-bottom: 5px;
}

footer p {
    margin: 2.5px;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    } 
    to {
        opacity: 0;
        transform: translateX(-50vw);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes loadingSpinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}